{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link href={% static 'adminstration/admin.css' %} rel="stylesheet">
</head>

<body>

    <header>
        <div><a href="{% url 'home' %}" target="_blank">site</a></div>
        <div><a href="{% url 'adminstration-view' %}">produtos</a></div>
        <div><a href="{% url 'adminstration_purchases' %}">pedidos</a></div>
        <div><a href="{% url 'page_admins' %}">adminstradores</a></div>
    </header>


    <div class="new_product"><a href="{% url 'new-product' %}">adicionar novo produto</a></div>

    <section>
        {% for post in posts %}

        <div class="post_container">
            <div class="img_product">
                <img src="/media/{{ post.img_produto }}">
            </div>
            <div>
                <h1>{{ post.modelo }}</h1>
                <p>R$ {{ post.preço }}</p>
                <div class="buttons_post">
                    <a href="{% url 'editar_post' post.id %}">editar postagem</a>

                    <button id="delete_confirmation{{ post.id }}"></button>
                </div>
            </div>
        </div>

        <dialog id="delete_modal{{ post.id }}">
            <div>
                <h2> tem certeza que deseja excluir postagem? </h2>
                <a href="{% url 'excluir_post' post.id %}" class="btn-excluir">
                    <button>sim</button>
                </a>

                <button id="close_dialog{{ post.id }}">não</button>
            </div>
        </dialog>
        {% endfor %}

    </section>


</body>

<script defer>

    {% for post in posts %}
    const button_delete{{ post.id }} = document.getElementById('delete_confirmation{{ post.id }}')
    const delete_modal{{ post.id }} = document.getElementById('delete_modal{{ post.id }}')
    const button_close{{ post.id }} = document.getElementById('close_dialog{{ post.id }}')

    button_delete{ { post.id } }.onclick = function () {
        delete_modal{ { post.id } }.showModal()
    }

    button_close{ { post.id } }.onclick = function () {
        delete_modal{ { post.id } }.close()
    }
    {% endfor %}
</script>

</html>